{% extends 'base.html' %}
{% block title %}login{% endblock %}

{% block container %}
    <br>
    <br>
    <div class="layui-main">
        <fieldset class="layui-elem-field">
          <legend>用户登录</legend>
          <div class="layui-field-box">
              <form class="layui-form" action="" method="post">

                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">*手机号、用户名、邮箱</div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">*6-20位字母或数字</div>
                  </div>

                  <div class="layui-form-item">
                    <h3>{{ tips }}</h3>
                  </div>


                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button type="submit" class="layui-btn">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>

              </form>
          </div>
        </fieldset>

    </div>

    <script>
    //Demo
    layui.use('form', function(){
      var form = layui.form;

    });
    </script>

{% endblock %}
